<p id="notice"><%= notice %></p>

<h1>Goals</h1>


    <% @goaltemplates.each do |goaltemplate| %>
    <div class="box panel">
      <h2><%= goaltemplate.area %></h2>
        <p><%= goaltemplate.goal %></p>
        <%= link_to 'Show', goaltemplate %>
        <%= link_to 'Edit', edit_goaltemplate_path(goaltemplate) %>
        <%= link_to 'Destroy', goaltemplate, method: :delete, data: { confirm: 'Are you sure?' } %>
    
      </div>
    <% end %>


<br>

<%= link_to 'New Goal', new_goaltemplate_path %>
