<p id="notice"><%= notice %></p>

<h1>Goal Templates</h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goaltemplates.each do |goaltemplate| %>
      <tr>
        <td><%= goaltemplate.goal %></td>
        <td><%= goaltemplate.area %></td>
        <td><%= link_to 'Show', goaltemplate %></td>
        <td><%= link_to 'Edit', edit_goaltemplate_path(goaltemplate) %></td>
        <td><%= link_to 'Destroy', goaltemplate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_goaltemplate_path %>
