<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    On
    <%= f.date_field :day , class:"form-control"%>
  </div>

  <div class="form-group">
    The primary goal was
    <%= f.collection_select :goal, Goaltemplate.order(:goal),:goal,:goal, include_blank: true %> 
     <%= link_to 'New Goal', new_goaltemplate_path %>
   
  </div>
  <div class="form-group">
    What went well?<br>
    <%= f.text_field :good, class:"form-control" %>
  </div>
  <div class="form-group">
    What didn't go well<br>
    <%= f.text_field :bad, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :actions %><br>
    <%= f.text_field :actions , class:"form-control"%>
  </div>
  <div class="form-group">
    The regret that came to mind was<br>
    <%= f.text_field :regret , class:"form-control"%>
  </div>
  <div class="form-group">
<%= f.label :image %>
<%= f.file_field :image, class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
