<p id="notice"><%= notice %></p>
On <%= @day.day %>
<p>
I wanted to <%= @day.goal %>
</p>

<div class="form-control">
<p>
  <strong>Good:</strong>
  <%= @day.good %>
</p>
</div>

<p>
  <strong>Bad:</strong>
  <%= @day.bad %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @day.actions %>
</p>

<p>
  <strong>Regret:</strong>
  <%= @day.regret %>
</p>

<%= image_tag @day.image.url(:medium) %>
<% if @day.user == current_user %>
<%= link_to 'Edit', edit_day_path(@day) %>
<% end %>
<%= link_to 'Back', days_path %>
